@import './assets/styles/styles.scss';
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Light.ttf');
}

// Set default constants for the app
* {
  font-family: 'RobotoMono', monospace;
  font-size: 20px;
  font-weight: normal;

  border: 0;
  padding: 0;
  margin: 0;

  box-sizing: content-box;
}
a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1em;
}
a:hover,
a:active,
a:checked,
a:visited {
  color: $fontColor;
}

// Set default display for the app
body {
  display: flex;
  justify-content: center;

  color: $fontColor;
  background: linear-gradient(to top, $GColor-02, $GColor-01);
}
